@page "/component"
<h3>Component</h3>

<gmpx-placeautocomplete id="autocompleteEndereco"
                       placeholder="Digite seu endereço"
                       country="br"
                       style="width: 100%;">
</gmpx-placeautocomplete>

@code {

}
