@page "/editar-produto/{idProduto}"
@inject ApiService _apiService
@inject NavigationManager _navigationManager

<h3>Editar Produto</h3>

<EditForm Model="@produto" OnValidSubmit="SalvarEdicoes">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="nome">Nome</label>
        <InputText id="nome" class="form-control" @bind-Value="produto.Nome" />
    </div>
    <div class="form-group">
        <label for="preco">Preço</label>
        <InputNumber id="preco" class="form-control" @bind-Value="produto.Preco" />
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</EditForm>

@code {
    [Parameter]
    public int IdProduto { get; set; }

    private Produto produto;

    protected override async Task OnInitializedAsync()
    {
        var(produtoDetalhes, errorMessage) = await _apiService.GetProdutoDetalhe(IdProduto);
        produto = produtoDetalhes;
    }

    private async Task SalvarEdicoes()
    {
        bool sucesso = await _apiService.AtualizarProduto(produto.Id, produto);
        if (sucesso)
        {
            _navigationManager.NavigateTo("/produtos");
        }
        else
        {
            // Exibir mensagem de erro
        }
    }
}
